:root{
    --primaryColor: #ff0000;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #17c;
    --bgColor-2: #22282a;
    --padding: 8%;
}





body{
    background-color: var(--bgColor-2);
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--lightColor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-2);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--primaryColor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li{
    list-style-type: none ;
    display: inline-block;
    margin: 0.5rem 0.7rem;
}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 600;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li a:hover{
    color: var(--primaryColor);
}
.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid transparent;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}
.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-texts{
    position: relative;
    bottom: 70px;
}
h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h2{
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h5 {
    font-size: 1.0rem;
    max-width: 300px;
    margin-bottom: 40px;
    color: rgb(255, 251, 251);
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5 span {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social {
    margin-top: 3.5rem;
}
.social img {
    width: 2.1rem;
    margin-right: 2rem;
    transition: 0.4s;
}
.social img:hover {
    transform: scale(1.2);
}
.container-images {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.container-images img {
    position: absolute;
    bottom: 0;
    height: 55%;
    left: 50px;
    transform: translateY(-50%);
    border-radius: 90px;
    transition: 0.4s;
    border: 1px rgb(0, 0, 0) solid;
}
.container-images img:hover {
    height: 56%;
}

footer{
    padding: 2rem var(--padding);
    border-top: 2px rgba(0, 0, 0, 0.021) solid;
    background-color: var(--bgColor-2);
}


footer .content-footer h2 {
    text-align: center;
    padding-bottom: 20px;
}
footer .content-footer p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
    font-size: 18px;
    color: rgb(65, 125, 238);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.social a{
    text-decoration: none;
}

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu.is-active span:nth-child(1){
    transform: translate(0px, -1px) rotate(100deg);
}

#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-20px, -15px) rotate(20deg);
}
#menu.is-active span{
    background-color: red;
}






#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4;
    margin-bottom: 5px;
}


@media screen and (max-width: 575px) {
:root{
    padding: 1.5rem;;
}

html{
    font-size: 13px;
}
h2{
    font-size: 22px;
}
h1{
    font-size: 32px;
}

.container-images img{
    display: none;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding-top:  0;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.container-texts{
    bottom: 0;
}



nav ul{
    display: none;
    position: fixed;
    top: -10px;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: var(--bgColor-2);
}


nav ul.is-active{
    display: block;
}

nav ul li{
    display: block;
    padding: 30px;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #00000011;
}

h5{
    font-size: 19px;
}

.btn{
    width: 25px;
    height: 14px; 
}

nav  a{
    font-size: 13px;
}

.social{
    margin-top: 70px;
}

h3{
    margin-top: 70px;
}

#menu{
    display: block;
}



}

